@import url('https://fonts.googleapis.com/css?family=Roboto|ZCOOL+KuaiLe');
* {
  box-sizing: border-box;
}

body{
  font-family: Roboto,arial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: "ZCOOL KuaiLe", cursive;
}

form {
  width: 100%;
  max-width: 400px;
  border: 1px solid silver;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.125);
  padding: 1rem;
}

.field {
  margin-bottom: 1rem;
}

input[type="text"], 
input[type="email"], 
input[type="number"],
textarea, select {
  display: block;
  width:100%;
  border: 1px solid silver;
  border-radius: 0.25rem;
  background: none;
  box-shadow: none;
  padding: 0.5rem;
  margin-top: 0.25rem;
  height: 2.5rem;

}


input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus,
textarea:focus, select:focus {

  outline: none;
  border-color: dodgerblue;
  box-shadow: 0 0 0 3px rgba(30,144,255,.5);


}
textarea {
  height:auto;
  resize: vertical;
}

input[type="radio"] {
  display: inline-block;
}

input[type="radio"]+input[type="radio"] {
  margin-left: 1rem;
}

button {
  -webkit-appearance: none;
  background-color:  dodgerblue;
  color:white;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  border-radius: 9999px;
  cursor:pointer;
}

button:hover {
  background-color: #006edb;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(30, 144, 255, .5);
}

button[type="submit"] {
  float: right;
  background-color: limegreen;
}

button[type="submit"]:hover {
  background-color: #28a428;
}

button[type="submit"]:focus {
  box-shadow: 0 0 0 3px rgba(50, 205, 50, .5);
}

/* SISTA STEG 3 (Överkus) */
/* 1 - Göm checkbox */
input[type="checkbox"] {
  opacity: 0; /* eller display: none eller visibility: hidden */
}

/* 2 - the box */
input[type="checkbox"]+label::before {
display: inline-block;
width: 20px;
height:20px;
border: solid 3px deepskyblue;
border-radius: 3px;
content: ''; 
}

/* 3 - the check */
input[type="checkbox"]+label::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  
  transform: rotate(-45deg);
}

/* 4 - the position */
input[type="checkbox"]+label {
  position: relative;
padding-left: 5px;
}
input[type="checkbox"]+label::before,
input[type="checkbox"]+label::after {
  position: absolute;
}

/*Outer-box*/
input[type="checkbox"]+label::before {
  top: -4px;
left: -25px;
}

/*Checkmark*/
input[type="checkbox"]+label::after {
  left: -19px;
  top: 1px;
}

/* 5 - check - uncheck */

/*Hide the checkmark by default*/
input[type="checkbox"] + label::after {
  content: none;
}
/*Unhide the checkmark on the checked state*/
input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
input[type="checkbox"]:focus + label::before {
  outline: pink auto 2px;

}
